body {
    background-color: #16441D;
    color: white;
}

.cst {
    background-color: #098388;
}

.mtn {
    background-color: #A52A2A;
}

.dst {
    background-color: #E6BD00;
}

.border {
    border: 2px solid #989998;
    border-radius: 2px;
}

#map {
    width: 700px;
    height: 400px;    
}

@media screen and (max-width: 734px;) {
    #map {
        width: 400px;
        height: 230px;
    }
}